/* multi-column list */
.col-list {
    width: 30em;
}
.col-list li {
    float: left;
    width: 10em;
}
.col-list-2 {
    width: 30em;
}
.col-list-2 li {
    float: left;
    width: 7.5em;
}

.reveal section img {
    border: 1px solid !important;
    transform: translateY(50%) !important;
    margin-top: 0 !important;
}

h1 {
  font-size: 2em !important;
  color: #e4ad52 !important; // according to the night theme of reveal
}

/* I need more text at my slides */
li, ul, ol {
  font-size: 80% !important;
}
/* For some reasons the paragraph font is bigger than the listings' */
p {
  font-size: 70% !important;
}
.MathJax_Display {
  font-size: 80% !important;
}

/* Format a heading in such a way it does not interfer with the header */
h4 {
  /* text-align: left !important; */
  /* padding-left: 4% !important; */
  color: #728ec2 !important;
}
section {
  padding-top: 5% !important;
}

.code {
  font-family: Consolas;
  color: #BBB;
}

/* Pictures */
.reveal section img {
  transform: unset !important;
  background: inherit !important;
  border: none !important;
}

.p-reference {
  font-size: 30% !important;
  display: inline !important;
}
.reference-container {
  position: absolute !important;
  bottom: 2% !important;
}  

/* Slightly adjust the color of the MathJax equations to make them more
pronounced */
.MathJax {
  color: #eeca91 !important;
}
